@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme{
  --color-brand-primary: #222222;
  --color-brand-secondary: #7b7b7b;
  --color-brand-tertiary: #f8f8f8;
}